{
	"env": {
		"browser": true
	},
	"extends": "eslint:recommended",
	"globals": {
		"require": true
	},
	"rules": {
		"linebreak-style": [
			"error",
			"windows"
		],
		"quotes": [
			"error",
			"single"
		],
		"semi": [
			"error",
			"always"
		]
	}
}